.mainbar-title{
	float:right;
	width:70%;
	margin: -630px 100px 0 0;
}
#notice-title{
	width: 750px;
	font-size: 40px;
	text-align: center;
	border: 2px solid #eeeeee;
	box-shadow: 5px 5px 10px #eeeeee;
}
#notice-a{
	text-decoration: none;
	color: #EEB422;
}
#noticeview-a{
	text-decoration: none;
	font-size: 15px;
	color: #8B6969;
	border-radius: 10px;
	border: 1px solid #707070;
	padding:5px 15px 5px 15px;
}
#notice1-a{
	text-decoration: none;
	font-size: 15px;
	color: #8B6969;
	border-radius: 10px;
	border: 1px solid #707070;
	padding:5px 15px 5px 15px;
}
#notice-img{
	margin-top: -130px;
	margin-left: 730px;
}
#noticeview1{
	font-size: 40px;
	text-align: center;
	font-weight:900;
}
#noticeview2{
	font-size: 20px;
}
.notice-add{
	width:80%;
	margin:auto;
	margin-top: 50px;
}
.add1{
	margin: 20px 0 0 100px;
}
#noticeadd-a{
	text-decoration: none;
	font-size: 15px;
	color: #8B6969;
	border-radius: 10px;
	border: 1px solid #707070;
	padding:5px 15px 5px 15px;
}
#notice-delete{
	text-decoration: none;
	font-size: 15px;
	color: #8B6969;
	border-radius: 10px;
	border: 1px solid #707070;
	padding:5px 15px 5px 15px;
}
#noticeedit-a{
	text-decoration: none;
	font-size: 15px;
	color: #8B6969;
	border-radius: 10px;
	margin: 0 0 0 20px;
	border: 1px solid #707070;
	padding:5px 15px 5px 15px;
}
#noticeadd-title{
	width: 500px;
	height: 50px;
}
#noticeadd-content{
	width: 500px;
	height: 300px;
}
#noticeadd-submit{
	margin: 40px 0 0 330px;
	font-size: 15px;
	color: #8B6969;
	border-radius: 10px;
	background-color: #ffffff;
	border: 1px solid #707070;
	padding:5px 15px 5px 15px;
}
#notice-search{
	margin-top: -20px;
	margin-left: 500px;
}
#notice-search1{
	height: 30px;
	border-radius: 20px;
}
#searchBtn{
	font-size: 15px;
	color: #8B6969;
	border-radius: 10px;
	background-color: #ffffff;
	margin: 0 0 0 20px;
	border: 1px solid #707070;
	padding:5px 15px 5px 15px;
}