<div id="per_focus">
{{#each post}}
	<div id="focus_all">
		<img src="{{this.headPic}}" style="width:15%;
	border-radius: 50% 50%;">
	<div id="focus_name">{{this.name}}</div>
	</div>
	{{/each}}
</div>